<div class="d-flex justify-content-center align-items-center">
    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-tabs">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="true">Listar vuelos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Gestionar usuarios</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link pointer" (click)="cerrarSesion()">Cerrar sesión</a>
                </li>
            </ul>
        </div>
        <div class="card-body">
            <h5 class="card-title">Bienvenido {{usuario}}</h5>
            <p class="card-text">
                Gestione aquí sus vuelos
            </p>

            <table class="table align-middle">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Origen</th>
                        <th scope="col">Destino</th>
                        <th scope="col">Fecha</th>
                        <th scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let vuelo of vuelos; let i = index">
                        <th scope="row">{{ i + 1 }}</th>
                        <td>{{vuelo.origen}}</td>
                        <td>{{vuelo.destino}}</td>
                        <td>{{vuelo.fecha | date}}</td>
                        <td>
                            <button type="button" class="btn btn-danger btn-sm px-3">
                                <i class="fas fa-times"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>